 .u-section-1 {
  filter: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #478ac9 28%, #db545a 97%);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 943px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 47px 495px 0 34px;
}

.u-section-1 .u-image-1 {
  filter: none;
  width: 336px;
  height: 336px;
  background-image: url("images/IMG_20260308_144318_006.jpg");
  background-position: 50% 50%;
  background-size: cover;
  margin: -36px 39px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 726px;
  height: 726px;
  object-position: 50% 26.6%;
  background-image: url("images/-20260410-174412.jpg");
  background-position: 50% 40.85%;
  background-size: cover;
  margin: -235px auto 0 34px;
}

.u-section-1 .u-video-1 {
  width: 533px;
  height: 300px;
  margin: -541px auto 288px -1105px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 329px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 260px;
    height: 260px;
    margin-top: -72px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 651px;
    height: 651px;
    margin-top: -165px;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    margin-top: -223px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 109px;
  }

  .u-section-1 .u-image-1 {
    width: 218px;
    height: 218px;
    margin-top: -12px;
  }

  .u-section-1 .u-image-2 {
    width: 705px;
    height: 705px;
    margin-top: -27px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -250px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 227px;
    height: 227px;
    margin-top: 7px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 33px;
    height: 540px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-video-1 {
    margin-top: -238px;
    margin-bottom: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 35px;
  }

  .u-section-1 .u-image-1 {
    width: 144px;
    height: 144px;
    margin-top: 0;
    margin-right: 4px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 35px;
    height: 340px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-video-1 {
    margin-top: -257px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1035px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-2 .u-text-2 {
  width: 826px;
  margin: 8px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 870px;
  width: 488px;
  margin: 24px auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: -130px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 4px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -130px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-2 .u-text-2 {
    width: 746px;
  }

  .u-section-2 .u-gallery-1 {
    margin-bottom: 37px;
  }

  .u-section-2 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-3 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-4 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-5 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-6 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-7 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-8 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-9 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-10 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-11 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-12 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-13 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-14 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-15 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-16 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-17 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-18 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-19 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-item-20 {
    margin-right: initial;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 0;
    top: 117px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 0;
    top: 432px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-gallery-1 {
    width: 476px;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-2 .u-gallery-1 {
    height: 885px;
    width: 508px;
    margin-top: 22px;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-2 .u-gallery-1 {
    height: 725px;
    margin-top: 14px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-control-1 {
    top: 307px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: 307px;
  }
} .u-section-3 {
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 949px;
}

.u-section-3 .u-text-1 {
  width: 560px;
  margin: 24px auto 0;
}

.u-section-3 .u-video-1 {
  height: 799px;
  width: 479px;
  margin: 24px auto 59px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-3 .u-video-1 {
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-3 .u-video-1 {
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: 23px;
  }

  .u-section-3 .u-video-1 {
    height: 676px;
    width: 403px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-video-1 {
    height: 570px;
    margin-top: 17px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}